*{
    margin: 0;
    padding: 0;
}

.clock{
    width: 80%;
    height: 350px;
    margin-top: 5%;
    margin-left: 10%;
    border: 20px solid #000;
    border-radius: 60px;
    background-color:  #C8D1DD;
}

#time{
    font-size: 260px;
    margin-left: 100px;
}
#milli{
    margin-left: 400px;
    font-size: 40px;
}