body{
  background-color: #dbdbdb;
}

.Container{
  width: 600px;
  height: 100%;
  margin:0 auto;
  background-color: #fff;
}

/*Head*/
.Head{
  padding-top: 7%;
  text-align: center;
}
/*Content*/
.Content{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 7%;
}
.Content_Text{
  line-height: 1.2;
}
